<h2>Listado de Productos</h2>

<% productos.forEach(producto => { %>
    <h3><a href="/productos/<%= producto.codigo %>"><%= producto.nombre %></a></h3>
    <!-- <p><%= producto.descripcion %></p> -->
<% }) %>

<a href="/productos/create">Crear Producto</a>